/* Global background */
body {
  color: rgb(68, 68, 68); 
  background-color: #f9fdfb;
  font-family: system-ui, "Segoe UI", Roboto, "Helvetica Neue", 
  "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", 
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* Navbar brand text */
.navbar-brand span {
  box-sizing: border-box;  
  color: rgba(255, 255, 255, 0.7);
  color-scheme: dark;
  cursor: auto;
  display: inline;
  font-size: 21.25px;
  font-weight: 400; height: auto;
  line-height: 31.875px;
  text-align: start;
  text-underline-offset: 3px;
  text-wrap-mode: nowrap;
  white-space-collapse: collapse;
  width: auto;
}

/* Data upload progress bar */
span.btn.btn-default.btn-file {
  fill: #004225 !important;
  background-color: #004225;
}

/* Data upload progress bar */
.progress-bar {
  fill: #004225 !important;
  background-color: #004225 !important;
}

/* Navbar container */
.navbar {
  background-color: #004225 !important; 
  --bs-navbar-active-color: rgb(209, 197, 226, 0.8); /* active tab */
  /* --bs-nav-link-color: rgba(255, 255, 255, 0.7); */
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid #13b955;
  align-items: center;
  box-sizing: border-box;
  color-scheme: light;
  column-gap: 0px;
  flex-direction: column; 
  display: flex;
  flex-wrap: nowrap;
  font-size: 17px;
  font-weight: 400; height: 83.78125px;
  justify-content: flex-start;
  line-height: 25.5px;
  padding-bottom: 20.4px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 20.4px;
  position: relative;
  text-align: start;
  width: 1920px;
}

/* Highlight colour on hover */
.navbar-nav {
  --bs-nav-link-color: rgba(255, 255, 255, 0.7);
  --bs-nav-link-hover-color: rgba(209, 197, 226, 0.8);
}

/* Panel headers or section titles */
h1, h2, h3 {
  color:rgb(68, 68, 68);
}

/* Set table of content's font-size to 15px */
h6 {
  font-size: 15px;
}

/* Radio button labels */ 
#wrangle_data-wrangle, #ipc_check-ipccheck, #plausible-method, 
#prevalence-amn_method_survey, #prevalence-amn_method_screening,
#prevalence-source label {
  font-size: 14px;
}

/* Buttons */
.btn-primary {
  background-color:  #004225 !important;
  border-color:  #004225 !important;
}

.btn-primary:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(209, 197, 226, 0.8);
}

/* Radio buttons */
.form-check-input:checked, 
.shiny-input-container .checkbox input:checked, 
.shiny-input-container .checkbox-inline input:checked, 
.shiny-input-container .radio input:checked, 
.shiny-input-container .radio-inline input:checked {
    background-color:#004225;
    border-color:#004225
}

/* Pagination */

.page-link.active, 
.active > .page-link {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color:#004225;
    border-color:#004225;
}
